/* Body Styles */
body {
	color: white;
	font-family: 'Oswald';
	background-color: #1F1F20;
}
	
.main-navigation, .main-footer {
	background-color: #1F1F20;
}


/* Navigation Styles */
.main-navigation {
	display: flex;
	flex-direction: row;
}

.nav-list-1, .nav-list-2 {
	display:flex;
	margin: 0;
	list-style: none;
	align-items: center;
}

.nav-list-1 {
	flex:70%;
	gap: 3rem;
}

.nav-list-2 {
	justify-content: flex-end;
	flex:30%;
	padding:10px;
	gap: 2rem;
	flex-wrap: wrap;
}



/*Link Styles */
a:link {
	color: white;
}

a:visited {
	color: #848383;
}


/* Style for Header Image */ 
.main-image {
	display:flex;
}

.keyboard {
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}


/* Main Content Styles */
.main-content {
	background-color: #233B41;
	display: flex;
	justify-content: center;
}

.introduction {
	display: flex;
	flex-direction: column;
	padding: 60px;
	width: 80%;
	height: 80%;
}


/* Secondary Content Styles */
.secondary-content {
	background-color: #2F484F;
	display: flex;
	flex-direction: row;
	gap: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

.recent-news, .updates, .recent-build {
	flex:100%;
}


/* Footer Styles */
.social-media {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 3rem;
	padding-top: 10px;
}


/*Social Media Icon Styles */
.social-media-image {
	width: 100%;
	height: 100%;
}


/* Media Styles */
@media (min-width: 1401px) {
	p {
		font-size: 1.9em;
	}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2.9em;
	}

	.main-navigation {
		font-size: 2em;
	}	
}

/* Changes from a three column layout to a single column layout */
@media (max-width: 1400px) {
	p {
		font-size: 1.8em;
	}

	h1 {
		font-size: 2.8em;
	}

	h2 {
		font-size: 2.6em;
	}
	.secondary-content {
		flex-direction: column;
	}

	.main-navigation {
		font-size: 1.8em;
	}	
}

@media (max-width: 900px) {
	p {
		font-size: 1.6em;
	}

	h1 {
		font-size: 2.6em;
	}

	h2 {
		font-size: 2.4em;
	}

	.main-navigation {
		font-size: 1.6em;
	}	

}

/* Changes the navigation bar layout for mobile devices */
@media (max-width: 780px) {
	p {
		font-size: 1.5em;
	}

	h1 {
		font-size: 2.2em;
	}

	h2 {
		font-size: 2em;
	}

	.main-navigation {
		flex-direction: column;
		font-size: 1.5em;
	}

	.nav-list-1{
		justify-content: center;
		padding: 0;
	}

	.nav-list-2 {
		justify-content: center;
		gap: 2rem;
	}
}