/* SIT120 Assessment 3 */
/* Elizabeth Milroy - s222075016 */
/* order.css - Styles specfic to the order.html page */

/* Main Content Styles */
.main-content {
	display: flex;
	justify-content: center;
}

.introduction {
	display: flex;
	flex-direction: column;
	padding: 60px;
	width: 80%;
	height: 80%;
}

/* Secondary Content Styles */
.secondary-content {
    display: flex;
	justify-content: center;
}

.secondary-wrapper {
	display: flex;
	flex-direction: column;
	padding: 60px;
	width: 80%;
	height: 80%;
}

/* Form Styles */
.section1, .section2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.section1 input, .section2 input {
	border: 2px solid black;
}

.section1 h3, .section2 h3, .section3 h3 {
	width: 100%;
	border-bottom: 3px solid black;
	padding-left: 5%;;
}

.col1, .col2 {
	display: flex;
	flex-direction: column;
	flex: 50%;
	align-items: stretch;
}

.col1 p, .col2 p {
	padding-left: 10%;
	padding-right: 10%;
}

.check-form .col2 {
	display: flex;
	flex-direction: column;
}

.input-wrapper, .input-wrapper-radio {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
}

.input-wrapper input, select{
	width: 100%;
}

.radio {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.check-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.buttons {
	padding-top: 5%;
	display:flex;
	align-self: center;
	gap:10%;
}

.buttons input {
	border: 2px solid black;
	font-size: 20px;
}

textarea {
	resize: none;
	border: 2px solid black;
}